@model IEnumerable<FundraiserDto>

<h3>All available fundraisers</h3>
@foreach (var fund in Model)
{
    <div>
        <h2>
            <a asp-controller="Fundraisers" asp-action="Detail" asp-route-id="@fund.Id" >@fund.Name</a>
        </h2>
        <h4>@fund.Amount</h4>
        <h4>@fund.CurrentTotal</h4>
        <h4>@fund.CreatedDate.ToString("d")</h4>
    </div>
}