@model FundTotalSummaryViewModel
    <div class="form">
        <h3>@Model.Fundraiser.PercentComplete% of our goal has been reached.</h3>
        <h3>@Model.Donations.Count() donors have contributed</h3>
        <div>
            <ul>
                @foreach (var donation in Model.Donations)
                {
                    <li class="donation">
                        <h7>@donation.Donor.Name</h7>
                        <h6>@donation.Amount.ToString("c")</h6>
                         @donation.DonationDate 
                    </li>

                }
            </ul>
        </div>
      
    </div>